* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
body {
	background-color: #f0f3f3;
	font-family:"宋体", "微软雅黑", "arial";
}


.animation-map {
	margin: 0 auto;
	margin-top: 100px;
	width: 2.72rem;
	height: .88rem;
	background-color: rgba(0,14,12,.7);
	position: relative;
    border-radius: 4px;
}